In [1]:
import numpy as np

In [2]:
import pandas as pd
import statistics as st
import matplotlib.pyplot as plt

In [3]:
home = pd.read_csv("Home_market.csv")
home.head(43)

    HouseAge  SquareFeet  MarketValue
0         33        1812        90000
1         32        1914       104400
2         32        1842        93300
3         33        1812        91000
4         32        1836       101900
5         33        2028       108500
6         32        1732        87600
7         33        1850        96000
8         32        1791        89200
9         33        1666        88400
10        32        1852       100800
11        32        1620        96700
12        32        1692        87500
13        32        2372       114000
14        32        2372       113200
15        33        1666        87500
16        32        2123       116100
17        32        1620        94700
18        32        1731        86400
19        32        1666        87100
20        28        1520        83400
21        27        1484        79800
22        28        1588        81500
23        28        1598        87100
24        28        1484        82600
25        28        1484        78800
26        28        1520        87600
27        27        1701        94200
28        28        1484        82000
29        28        1468        88100
30        28        1520        88100
31        27        1520        88600
32        27        1484        76600
33        28        1520        84400
34        27        1668        90900
35        28        1588        81000
36        28        1784        91300
37        27        1484        81300
38        27        1520       100700
39        28        1520        87200
40        27        1684        96700
41        27        1581       120700

In [4]:
sf = home['SquareFeet']
mv = home['MarketValue']

In [5]:
sf.head()

0    1812
1    1914
2    1842
3    1812
4    1836
Name: SquareFeet, dtype: int64

In [6]:
mv.head()

0     90000
1    104400
2     93300
3     91000
4    101900
Name: MarketValue, dtype: int64

In [7]:
q1_sf = sf.quantile(0.25)
q3_sf = sf.quantile(0.75)
iqr_sf = q3_sf - q1_sf
lower_bound_sf = q1_sf - iqr_sf * 1.5
upper_bound_sf = q3_sf + iqr_sf * 1.5
outliers_sf = home[(sf < lower_bound_sf) | (sf > upper_bound_sf)]
outliers_sf

    HouseAge  SquareFeet  MarketValue
13        32        2372       114000
14        32        2372       113200

In [8]:
q1_mv = mv.quantile(0.25)
q3_mv = mv.quantile(0.75)
iqr_mv = q3_mv - q1_mv
lower_bound_mv = q1_mv - iqr_mv * 1.5
upper_bound_mv = q3_mv + iqr_mv * 1.5
outliers_mv = home[(mv < lower_bound_mv) | (mv > upper_bound_mv)]
outliers_mv

    HouseAge  SquareFeet  MarketValue
13        32        2372       114000
14        32        2372       113200
16        32        2123       116100
41        27        1581       120700

In [9]:
print(q1_sf)
print(q3_sf)
print(iqr_sf)
print(lower_bound_sf)
print(upper_bound_sf)

1520.0
1806.75
286.75
1089.875
2236.875

In [10]:
print(q1_mv)
print(q3_mv)
print(iqr_mv)
print(lower_bound_mv)
print(upper_bound_mv)

86575.0
96525.0
9950.0
71650.0
111450.0

In [11]:
mean_value = np.mean(sf)
std_dev = np.std(sf)

In [12]:
print(mean_value)

1695.2619047619048

In [13]:
print(std_dev)

217.61883010304848

In [14]:
z_scores = (sf - mean_value) / std_dev
z_scores

0     0.536434
1     1.005143
2     0.674290
3     0.536434
4     0.646718
5     1.528995
6     0.168819
7     0.711051
8     0.439935
9    -0.134464
10    0.720241
11   -0.345843
12   -0.014989
13    3.109741
14    3.109741
15   -0.134464
16    1.965538
17   -0.345843
18    0.164223
19   -0.134464
20   -0.805362
21   -0.970789
22   -0.492889
23   -0.446937
24   -0.970789
25   -0.970789
26   -0.805362
27    0.026368
28   -0.970789
29   -1.044312
30   -0.805362
31   -0.805362
32   -0.970789
33   -0.805362
34   -0.125274
35   -0.492889
36    0.407768
37   -0.970789
38   -0.805362
39   -0.805362
40   -0.051751
41   -0.525055
Name: SquareFeet, dtype: float64

In [21]:
threshold = 3
outlier_indices = np.where(np.abs(z_scores) > threshold)[0]
print(outlier_indices)

[13 14]

In [22]:
outlier_values = sf[outlier_indices]

# In ra giá trị của outliers
print("Giá trị của outliers:", outlier_values)

Giá trị của outliers: 13    2372
14    2372
Name: SquareFeet, dtype: int64

In [30]:
mean_value_SF = np.mean(sf)
std_dev_SF = np.std(sf)
z_scores_SF = (sf - mean_value_SF) / std_dev_SF
print(mean_value_SF)
print(std_dev_SF)
z_scores_SF

1695.2619047619048
217.61883010304848

0     0.536434
1     1.005143
2     0.674290
3     0.536434
4     0.646718
5     1.528995
6     0.168819
7     0.711051
8     0.439935
9    -0.134464
10    0.720241
11   -0.345843
12   -0.014989
13    3.109741
14    3.109741
15   -0.134464
16    1.965538
17   -0.345843
18    0.164223
19   -0.134464
20   -0.805362
21   -0.970789
22   -0.492889
23   -0.446937
24   -0.970789
25   -0.970789
26   -0.805362
27    0.026368
28   -0.970789
29   -1.044312
30   -0.805362
31   -0.805362
32   -0.970789
33   -0.805362
34   -0.125274
35   -0.492889
36    0.407768
37   -0.970789
38   -0.805362
39   -0.805362
40   -0.051751
41   -0.525055
Name: SquareFeet, dtype: float64

In [35]:
outlier_pos = np.where(np.abs(z_scores_SF) > 3)[0]
sf_value = sf[outlier_pos]
sf_value

13    2372
14    2372
Name: SquareFeet, dtype: int64

In [34]:
mean_value_MV = np.mean(mv)
std_dev_MV = np.std(mv)
z_scores_MV = (mv - mean_value_MV) / std_dev_MV
print(mean_value_MV)
print(std_dev_MV)
z_scores_MV

92069.04761904762
10426.69394928316

0    -0.198438
1     1.182633
2     0.118058
3    -0.102530
4     0.942864
5     1.575854
6    -0.428616
7     0.377009
8    -0.275164
9    -0.351890
10    0.837365
11    0.444144
12   -0.438207
13    2.103347
14    2.026621
15   -0.438207
16    2.304753
17    0.252329
18   -0.543705
19   -0.476570
20   -0.831428
21   -1.176696
22   -1.013653
23   -0.476570
24   -0.908154
25   -1.272604
26   -0.428616
27    0.204375
28   -0.965699
29   -0.380662
30   -0.380662
31   -0.332708
32   -1.483600
33   -0.735521
34   -0.112121
35   -1.061607
36   -0.073758
37   -1.032834
38    0.827775
39   -0.466979
40    0.444144
41    2.745928
Name: MarketValue, dtype: float64

In [37]:
outlier_pos_mv = np.where(np.abs(z_scores_MV) > 3)[0]
mv_value = mv[outlier_pos_mv]
mv_value

Series([], Name: MarketValue, dtype: int64)